.imgWrapper {
	width: 55vw;
	height: max-content;
	position: relative;
	cursor: pointer;
	overflow: hidden;
	text-align: left;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	/* padding-bottom: 20px; */
	/* border: 1px solid red; */
}
.imgWrapper .img {
	width: 100%;
	height: 300px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	display: inline;
	transition: transform 0.3s;
}
.overlay {
	position: absolute;
	top: 0;
	left: 0;
	background-image: linear-gradient(to bottom, transparent 50%, #000);
	width: 100%;
	height: 100%;
	color: #fff;
	font-family: Poppins;
	display: flex;
	transition: ease-in-out;
	flex-direction: column;
	justify-content: flex-end;
	padding: 5% 5% 2% 5%;
	opacity: 0;
	transition: opacity 0.2s;
	box-sizing: border-box;
	word-break: keep-all;
	word-wrap: break-word;
}
.overlay h2 {
	transform: translateY(7px);
	transition: transform 0.1s;
}
.overlay h2,
.overlay p {
	transition-delay: 0.1s;
}
.imgWrapper:hover .img {
	transform: scale(1.016);
}
.imgWrapper:hover .overlay {
	opacity: 1;
}
.imgWrapper:hover .overlay h2,
.imgWrapper:hover .overlay p {
	transform: translateY(0);
	transition-timing-function: linear;
}
.imgWrapper:hover .overlay p {
	transition-delay: 0.2s;
}

.blogPost {
	/* flex: 1; */
	width: 100vw;
	display: flex;

	/* scroll-behavior: smooth; */
	justify-content: center;
	align-items: center;
	flex-direction: column;
	/* padding: 30px 10px; */
	/* margin: 0 auto; */
	/* border-radius: 10px; */
	text-align: left;
}

.post {
	width: 40%;
	height: min-content;
	/* height: 100%; */
	word-wrap: break-word;
	word-break: keep-all;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
	flex-direction: column;
	padding: 0;
	margin: 50px 0;
	font-size: 18px;
	line-height: 2rem;
	text-align: justify;
	/* text-overflow: ellipsis; */
	/* overflow: hidden; */
	/* white-space: nowrap; */
	/* text-align: left !important; */
	/* border: 1px solid red; */
}
.iframe {
	width: 100%;
	height: 300px;
}

@media (max-width: 910px) {
	/* .post {
		width: 100%;
	} */
	.blogPost {
		width: 90vw;
	}
	.post {
		width: 70%;
	}
	.overlay {
		padding-bottom: 1%;
	}
	.imgWrapper {
		width: 70vw;
	}
	.overlay p {
		font-size: 17px;
	}
}

@media (max-width: 560px) {
	.imgWrapper {
		width: 92vw;
	}
	.blogPost {
		width: 90vw;
	}
	.post {
		width: 80%;
	}
	.overlay {
		padding-bottom: 10px;
	}
	.overlay h2 {
		font-size: 22px;
	}

	.overlay p {
		font-size: 15px;
	}
}

@media (max-width: 435px) {
	.imgWrapper {
		width: 96vw;
		/* height: 45vh; */
	}
	.blogPost {
		width: 86vw;
	}
	.post {
		width: 100%;
		font-size: smaller;
	}
	.overlay h2 {
		font-size: 20px;
	}

	.overlay p {
		font-size: 13px;
	}
}
