body {
	height: 100vh !important;
	margin: 0 !important;
	/* background:  linear-gradient(to right, rgba(26, 24, 24, 0.877), rgba(129, 4, 4, 0.699))!important; */
	/*background-color: auto;*/
	background: linear-gradient(
		to right,
		rgba(0, 0, 0, 1),
		rgba(0, 0, 0, 1)
	) !important;

	/**/
}
p,
h1 {
	color: #ffdbc5;
}

nav img {
	z-index: 999;
	width: 100px;
}

code {
	background-color: black;
	padding: 5px;
	width: 30px;
}

a {
	color: #ffdbc5;
	text-decoration: none !important;
}
a:hover {
	color: rgb(255, 245, 213) !important;
}

nav {
	/*background:  linear-gradient(to right, rgba(0, 0, 0, 0.87), rgba(0, 0, 0, 0.7))!important;*/
	/* background:  linear-gradient(to right, rgba(26, 24, 24, 0.877), rgba(26, 24, 24, 0.877))!important; */
	background: linear-gradient(to right, rgb(0, 0, 0), rgb(0, 0, 0));
	/*background-color: black;*/
}

.navbar-brand span {
	color: red;
}

.card-group {
	justify-content: center;
	align-content: center;
	margin: auto;

	padding-top: 1%;
	padding-bottom: 10%;
}

.card {
	/* color: rgb(190, 187, 187); */
	color: #ffdbc5;
	margin: 20px;
	background-color: rgba(61, 52, 52, 0.781) !important;
}

footer {
	/*background:  linear-gradient(to right, rgba(26, 24, 24, 0.87), rgba(129, 4, 4, 0.6))!important;*/
	/* background: linear-gradient(
		to right,
		rgba(0, 0, 0, 1),
		rgba(0, 0, 0, 1)
	) !important; */

	/* z-index: -1; */
	/* position: relative; */
	height: max-content;
	margin: 0;
	/*position: fixed;*/
}
footer img {
	z-index: -1;
	width: 70px;
	/*background-color: black;*/
	color: #ffdbc5;
}
span:hover {
	color: rgba(0, 0, 0, 0.75) !important;
}
span {
	border: none;
	outline: none;
}

.p-card {
	/* background-color: #ffdbc5; */
	/* background:  linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1))!important; */
	/* background:  linear-gradient(to right, rgba(26, 24, 24, 0.877), rgba(235, 53, 53, 0.473))!important; */
	background: linear-gradient(
		to right,
		rgba(54, 54, 54, 0.877),
		rgba(54, 54, 54, 0.877)
	) !important;
	color: #ffdbc5;
	padding: 0;
	width: 100% !important;
	position: relative;
	z-index: 1000;
}

.img {
	position: relative;
	z-index: 1000;
}
.text {
	cursor: pointer;
}

.h5 {
	/* color: none; */
	/* text-align: center; */
	font-weight: bolder;
	text-transform: uppercase;
	/* -webkit-text-fill-color: white; Will override color (regardless of order) */
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #ffdbc5;
	/* font-family: 'Times New Roman', Times, serif; */
}

.project {
	border: 1px solid #ffdbc5;
	margin: 20px;
	height: 50vh;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	border-radius: 15px;
	backdrop-filter: blur(2000px);
	/* background-color: red; */
	/* transform: translate(0px, 0px); */
}
.project:hover {
	backdrop-filter: blur(2000px);
	background-color: rgba(255, 255, 255, 0.151);
	cursor: pointer;
	/* transform: translate(0px, -3px);
    transition-duration: 0.1s; 
    transition-timing-function: linear; */
}

header {
	width: 100% !important;
}
/*.container{*/
/*    border: 1px solid red;*/
/*}*/
/*.sky{*/
/*    !*z-index: -1;*!*/
/*    border: 1px solid red;*/
/*}*/

/*.nav-link:hover{*/
/*    color: black;*/
/*    background-color: black;*/
/*}*/

/* @media (min-width: 991px){
    .card-group{
        width: 100%!important;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .card{
        width: 40%!important;
    }
} */
